body {
    background-color: #151D21;
    background-image: url('../../images/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}
#heading{
    text-align: center;
    text-shadow: 1px 1px 30px rgb(232, 182, 20), 4px 4px 30px rgb(232, 73, 29);
}
#name{
    color: rgb(255, 196, 4);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#dob{
    border: 1px solid rgb(56, 24, 24);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
}
#time{
    color: #ff00d4;
    font-size: 30px;
    
}
#time td{
    padding-bottom: 0px;
    height: -20px;
    
}
#list{
    margin-top: 42px;
}

a:hover {
    color: #ff7a7a;
}

header .logo a {
    background-image: url('../../images/logo.png');
    background-size: 90px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
}

li {
    display: inline-block;
    padding-right: 7%;
}

.topnav {
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
}